---
---
@import "{{ site.theme }}";

$main-color: #1DA1F2; 
$light-main-color: #b6e3ff;
$grey-background-color: rgb(245, 245, 245);
$blue-background-color: #e7f5fe;
$dark-text-color: black;

/* General Styles */

body{
  // overflow-x:hidden;
  font-family:inherit;
}

html {
  scroll-behavior: smooth;
}


.main-container{
  padding:0;
  overflow-x:scroll;
  overflow-y:hidden;
  display:block; //display:inline-block;
  padding-top:63px; 
  // overflow-x:hidden;
}

.main-content-custom {
  min-width:500px; 
  padding: 80px 10%;

  h3{  
    color: $dark-text-color;
    font-weight: bolder;
    font-size: 4rem;
    opacity: 1;
    
  }
  h4 {
    // color: $dark-text-color;
    font-weight: bolder;
    font-size: 2rem;
    opacity: 1;    
  }
  .text-highlight{
    font-size:20px;
    margin-bottom:30px;
    font-weight:bold;
  }
}

.sidebyside-col{
  padding-top: 60px;
  padding-bottom: 60px;
  h4{
    // color:#0d8bd9;// $main-color;
    margin-bottom:50px;
    font-size:45px;
  }
  h5{
    margin-bottom:20px;
    font-size:25px; 
    font-weight:bold;
  }
  p {
    margin-bottom:40px;
  }
}
.sidebyside-col.right-col{
  padding-left:70px;
  padding-right: 30px;
  @media (max-width: 991px) {
    padding-left: 0;
    padding-right: 0;
  }
}
.sidebyside-col.left-col{
  padding-right:70px;
  padding-left: 30px;
  @media (max-width: 991px) {
    padding-left: 0;
    padding-right: 0;
  }
}


.sect-color {
  background-color: $grey-background-color;
}

.sect-title{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight:normal;
  margin-bottom:50px;
}

.row-custom{
  margin:auto;
  width:100%;
}

.col-container{
  padding:20px 30px;
  @media (max-width: 800px) {
    padding:20px 0px;
  }
}
.col-container > div{
  height:100%;
  padding:50px;
}

.col-container-predef{
  padding:20px 30px;
  min-width:350px;
  max-width:1260px;
  // @media (max-width: 800px) {
  // }
  margin:auto;
  @media (max-width: 1150px){
    width:450px;
    padding:20px 0px;
  }
  @media (max-width: 800px) {
    margin-left: 0;
  }
}



.col-container h4{
  margin-bottom:40px;
  // color:black;
  font-weight: bold;
}

.col-cont-fixed-weight{
  display:block;
  margin:auto;
  @media (max-width: 800px) {
    margin:0;
  }
}
img.col-cont-fixed-weight{
object-fit: cover;
}
.img-responsive-custom{
  margin-left:0;
  object-fit: contain;
  // max-width:500px;
  @media (max-width: 991px) {
    padding: 0;
    margin:auto;
    display:block;
  }
}

.img-right-align-resp{
  margin-left:auto;
  padding:40px;
  @media (max-width: 991px) {
    // margin-left:0;
    margin-right:auto;
    padding:0 40px 80px 40px;
    
  }
}

.img-right-left-resp{
  padding:40px;
  @media (max-width: 991px) {
    // margin-left:0;
    margin:auto;
    padding:0 40px 80px 40px;
    
  }
}

main.main-content {
  
  max-width: none;
  margin: 0;
  overflow:auto;
  float:left
  

  // overflow-x: hidden;
  
  // padding: 2rem 10rem;

  // min-width:700px;
}

.page-header2 {
  color: $header-heading-color;
  text-align: left;
  background-color: $main-color;
  padding: 0.5rem 1rem !important;
  width: 100%;
  height: 3.5rem;
  position: fixed;
  top: 0;
  z-index: 2;

  .project-name {
    font-size: 1.4rem;
    display: inline;
    margin: 0;
    margin-left: 1rem;
  }
}

h3.section-subtitle {
  font-size: 1.8rem;
  font-weight: bolder;
  color: $dark-text-color;
  margin-bottom: 0;
}

.section-title {
  color: $main-color;
  font-weight: bolder;
  font-size: 2.5rem;
  width: 100%;
  margin: 0;
  padding: 0.5rem;
  text-align: center;
  opacity: 1;
}

.section-container {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-evenly;
  margin-bottom: 2rem;
}

div.section-text {
  color: $dark-text-color;
  font-size: 1rem;
  text-align: center;
  padding: 1rem;
  max-width:500px;
}


.main-content h2 {
  color: $dark-text-color;
  font-weight: bolder;
  font-size: 4rem;
  text-align: center;
  opacity: 1;

  // margin: 0;
  // width: 100%;
  // padding: 0.5rem;
  
  // margin-top: -3.5rem;
  // padding-top: 3.5rem;
  // margin-bottom: 2rem;

}

.main-content h3 {
  color: $dark-text-color;
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
  opacity: 1;

  // margin: 0;
  // padding: 0.5rem;
}


.grey-section {
  background-color: $grey-background-color;
}

/* End General Styles */

/* Section-Specific Styles */
#intro.main-content-custom {
  background-color: $main-color;
  color: white;
  padding: 200px 50px 100px 50px ;
  h2 {
    color: white;
    font-weight:normal;
    font-size: 4.5rem;

  }
  .text-highlight{
    //display:flex;  
    // justify-content: center;
    padding: 0 100px;
    color: $light-main-color; 
    font-size: 1.5rem;
    @media (max-width: 800px) {
      padding: 0;
    }
  }
}

.section-title-custom{
  color: $main-color;
  font-weight: bolder;
  font-size: 2.5rem;
  // width: 100%;
  // margin: 0;
  // padding: 0.5rem;
  // text-align: center;
  opacity: 1;
}


.center_sm{
  // display:flex;  
  // justify-content: center;
  padding:0;
  @media (min-width: 800px) {
    text-align: center;
  }

}


#intro.main-content {
  background-color: $main-color;
  color: white;
  padding: 200px 0 50px 0 ;

  img.logo {
    width: 7rem;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  img.down-arrow {
    width: 6rem;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  h2 {
    color: white;
    font-weight:normal;
    font-size: 4.5rem;
    // padding: 0;
    // margin-top: 3.75rem;
    // margin-bottom: 0;
  }

  .tagline-container {
    // padding-top: 3.75rem;
    margin:auto;
    padding: 0 20px 0 20px;
  }

  .text-container {
    margin:auto;
    padding: 0 100px;
    
    div.home-text {
      color: $light-main-color; 
      font-size: 1.5rem;
      text-align: center;
    }
  }
}

#highlights.main-content {
  background-color: $grey-background-color;

  img.highlight-icon {
    width: 7rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .highlight-icon-container {
    color: $dark-text-color;
    margin-right: 1rem;
    margin-left: 1rem;
    width: calc(100%/6);
    text-align: center;
    font-weight: 600;
  }

  .section-text {
    border-radius: 1rem;
    background-color: white;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
  }
}

#research.main-content {
  padding-top: 3rem;

  .section-container.research-lines {
    border-radius: 2rem;
    background-color:$grey-background-color;
    margin-bottom: 0;
  }

  .section-text {
    width: 45%;

    h3.software-subtitle {
        margin-bottom: -0.5rem;
    }

    .section-subtext-container {
      margin: 1rem;
      border-radius: 1rem;
      background-color: $grey-background-color;
      padding: 0.75rem;
    }
  }
}

#apply.main-content {
  background-color: $grey-background-color;

  h2.section-title {
    margin-bottom: 0;
  }

  .positions-text-container {
    border-radius: 1rem;
    margin: 1rem;
    background-color: white;
  }

  .apply-text {
    font-size: 1.2rem;
  }

  .section-text {
    width: 65%;

    .section-subtext-container {
      margin: 1rem;
    }
  }
}

#contact.main-content {
  padding-top: 3rem;

  iframe {
    border-radius: 2rem;
    margin: 1rem;
  }

  img {
    border-radius: 2rem;
    margin: 1rem;
  }

  .section-text{
    font-size: 1.1rem;
  }
}

/* End Section-Specific Styles */

/* Navigation wrapper */

nav {
  padding-left: 37%;
  z-index: 2;
  overflow-y: hidden;
  display: inline;
  // position:relative !important;
}


nav .project-name {
  font-size: 1.4rem;
  display: inline;
  margin: 0;
  color:white;
}

.nav-custom-small .nav-link{
  font-size: 14px !important;
}

.nav-custom-small .navbar-text{
  margin-bottom: 5px;
}

.navbar-custom-color{
  background-color: $main-color ;
}

.nav-menu {
  display: inline-block;
  padding: 0;
  margin: 0;
}

.nav-list-item {
  display: inherit;
  margin-left: 1rem;
}

a.nav-link:link, a.nav-link:visited {
  font-size: 1rem;
  color: white !important;
  text-decoration: none;
}

a.nav-link:hover, a.nav-link:active, a.nav-link.active {
  color: $light-main-color !important;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
  border-color: white;
} 
/* End Navigation Wrapper */

/* Footer */

footer{
  background-color: $main-color;
  padding: 1.5rem;
  overflow-x:scroll;
  
}

footer > div {
  text-align: center;
}

footer img{
  width:70px;
  height:70px;
  object-fit: contain;
}

.site-footer {
  height: 6rem;
  border-top: none;
  display: flex;
  justify-content: space-evenly;
  margin-top: 0;
}

.footer-container {
  width: calc(100%/3);
  text-align: center;
}


// .facebook-icon {
//   max-width: 30%;
//   max-height: 90%;
// }

// .twitter-icon {
//   max-width: 50%;
//   max-height: 100%;
// }

// .youtube-icon {
//   max-width: 30%;
//   max-height: 90%;
// }

/* End Footer */

/* Publications Page */

.publications-container {
  padding: 7rem 15% 3.5rem 15%;
  font-size: 1rem;
  color: $dark-text-color;


  li {
    margin-bottom: 0.5em;
  }
}

/* End Publications Page */

/* Positions Page */

.positions-container {
  padding: 3.5rem 2rem;
  font-size: 1rem;
  color: $dark-text-color;

  h3 {
    margin-top: -3.5rem;
    padding-top: 3.5rem;
  }
}

/* End Positions Page */

