---
---
@import "{{ site.theme }}";

.page-header2 {
  color: $header-heading-color;
  text-align: left;
  background-color: $header-bg-color-secondary;
  padding: 1rem 1rem !important;
  width: 100%;

  .project-name {
    font-size: 1.4rem;
    padding: 0.5rem;
    display: inline-block;
  }

  @include large {
    padding: 5rem 6rem;
  }

  @include medium {
    padding: 3rem 4rem;
  }

  @include small {
    padding: 2rem 1rem;
  }
}
