---
---
@import "{{ site.theme }}";

$main-color: #1DA1F2; 
$light-main-color: #b6e3ff;
$grey-background-color: rgb(245, 245, 245);
$dark-text-color: black;

html {
  scroll-behavior: smooth;
}

.page-header2 {
  color: $header-heading-color;
  text-align: left;
  background-color: $main-color;
  padding: 0.5rem 1rem !important;
  width: 100%;
  height: 3.5rem;
  position: fixed;
  top: 0;
  z-index: 2;

  .project-name {
    font-size: 1.4rem;
    display: inline;
    margin: 0;
    margin-left: 1rem;
  }
}

#intro.main-content {
  max-width: none;
  margin: 0;
  padding: 2rem 10rem;
  padding-top: 0;
  background-color: $main-color;
  color: white;

  h2 {
    color: white;
  }

  .tagline-container {
    padding-top: 3.75rem;
  }

  .text-container {
    max-width: none;
    margin: 0;
    padding: 2rem 10rem;
    padding-top: 0;

    div.home-text {
      color: white; 
      font-size: 1.5rem;
      text-align: center;
      font-weight: bold;
    }
  }
}

#highlights.main-content {
  max-width: none;
  margin: 0;
  padding: 2rem 10rem;
  padding-top: 0;
  background-color: $grey-background-color;
}

#research.main-content {
  max-width: none;
  margin: 0;
  padding: 2rem 10rem;
  padding-top: 3rem;

  .section-container.research-lines {
    border-radius: 2rem;
    background-color:$grey-background-color;
    margin-bottom: 0;
  }

  .section-text {
    width: 45%;

    h3.software-subtitle {
        margin-bottom: -0.5rem;
    }

    .section-subtext-container {
      margin: 1rem;
      border-radius: 1rem;
      background-color: $grey-background-color;
      padding: 0.75rem;
    }
  }
}

h3.section-subtitle {
  font-size: 1.8rem;
  font-weight: bolder;
  color: $dark-text-color;
  margin-bottom: 0;
}

#apply.main-content {
  max-width: none;
  margin: 0;
  padding: 2rem 10rem;
  padding-top: 0;
  background-color: $grey-background-color;


  .section-text {
    width: 65%;

    .section-subtext-container {
      margin: 1rem;
    }

  }
}

#contact.main-content {
  max-width: none;
  margin: 0;
  padding: 2rem 10rem;
  padding-top: 3rem;

  .section-container {
    margin-bottom: 0;
  }

  iframe {
    border-radius: 2rem;
  }

  img {
    border-radius: 2rem;
  }
}

.section-title {
  color: $main-color;
  font-weight: bolder;
  font-size: 2.5rem;
  width: 100%;
  margin: 0;
  padding: 0.5rem;
  text-align: center;
  opacity: 1;
}

.section-container {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 2rem;
}

.highlight-icon-container {
  color: $dark-text-color;
  margin-right: 1rem;
  margin-left: 1rem;
  width: calc(100%/6);
  text-align: center;
  font-weight: 600;
}

div.section-text {
  color: $dark-text-color;
  font-size: 1rem;
  text-align: center;
  padding: 1rem;
}

.main-content h2 {
  color: $dark-text-color;
  font-weight: bolder;
  font-size: 3rem;
  width: 100%;
  margin: 0;
  padding: 0.5rem;
  text-align: center;
  opacity: 1;
  margin-top: -3.5rem;
  padding-top: 4rem;
}

img.logo {
  width: 7rem;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

img.down-arrow {
  width: 6rem;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

img.highlight-icon {
  width: 7rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/* Navigation wrapper */

nav {
  padding-left: 37%;
  z-index: 2;
  overflow-y: hidden;
  display: inline;
}

.nav-menu {
  display: inline-block;
  padding: 0;
  margin: 0;
}

.nav-list-item {
  display: inherit;
  margin-left: 1rem;
}

a.nav-link:link, a.nav-link:visited {
  font-size: 1rem;
  color: white;
  text-decoration: none;
}

a.nav-link:hover, a.nav-link:active {
  color: $light-main-color;
}

.site-footer {
  background-color: $main-color;
  height: 6rem;
  padding: 1rem;
  display: flex;
  justify-content: space-evenly;
}

.footer-container {
  width: calc(100%/3);
  text-align: center;
}

.facebook-icon {
  max-width: 30%;
  max-height: 90%;
}

.twitter-icon {
  max-width: 50%;
  max-height: 100%;
}

.youtube-icon {
  max-width: 30%;
  max-height: 90%;
}

.publications-container {
  padding: 3.5rem 2rem;
  font-size: 1rem;
  color: $dark-text-color;

  li {
    margin-bottom: 0.5em;
  }
}

.positions-container {
  padding: 3.5rem 2rem;
  font-size: 1rem;
  color: $dark-text-color;

  h3 {
    margin-top: -3.5rem;
    padding-top: 3.5rem;
  }
}